.App {
  display: grid;
  grid-template-rows: auto 0.5fr 2fr auto;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Lato", sans-serif;
  position: relative;
}

.wrapper {
  width: 100vw;
  max-width: 1680px;
  background: #a1d6e2;
  margin: 0 auto;
}

footer {
  align-self: end;
  justify-self: start;
  text-align: center;
  width: 100%;
}
