.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-family: "Lato", sans-serif;
}

.wrapper {
  width: 100vw;
  max-width: 1680px;
  background: #a1d6e2;
  margin: 0 auto;
}
